body {
    font-family: Arial, sans-serif;
    background-image: url(https://png.pngtree.com/background/20230525/original/pngtree-an-atm-machine-in-a-dark-room-picture-image_2739849.jpg);

}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #0eade7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

h1 {
    color: #333;
}

input[type="password"],
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #0577f1;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#transaction-details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#transaction-result {
    padding: 20px;
    background-color: #d4edda;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

.btn{
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #eceff2;
}

