body {
    font-family: Arial, sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/020/190/451/original/punjab-national-bank-pnb-bank-logo-free-free-vector.jpg);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.language-options {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fa370b;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#atm-interface {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}
/* Define the keyframes for the animation */
@keyframes textMotion {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Apply the animation to the text */
  .text-motion {
    animation: textMotion 0.7s ease-in-out infinite;
  }
  
